.movies-item {
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .movies-item__image {
      transform: scale(1.05);
      filter: saturate(150%);
    }
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $principal-color;
    transition: transform .3s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: -1;
  }

  &.hidden {
    display: none;
  }

  &--active {
    .movies-item__info {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: rotateY(0);
      transform-style: preserve-3d;
      perspective: 100;
    }
  }

  &__title {
    color: $black;
    font-size: 2em;
    text-shadow: 0 1px 1px darken($white, 10);
  }

  &__image {
    width: 100%;
    height: 450px;
    position: relative;
    z-index: -5;
    transition: transform .3s ease;
  }

  &__stars {
    font-size: 0.9em;
  }

  &__camera {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    filter: invert(100%) drop-shadow(16px 16px 5px $black);
    opacity: .15;
    transform: rotate(30deg);
  }
}